/** BASE STYLES **/
body { 
	font-family: 'Merriweather', Arial, serif; font-weight: 400;
	color: #2D3945; 
}

.main-wrapper {
	width: 90%;
	max-width: 500px;
	margin: auto;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/** HEADER **/

.main-header {
	background-color: #2D3945;
	margin-top: -16px;
}

.main-header h1 {
	color: white;
	text-transform: uppercase;
	padding: 30px;
	font-size: 1.5em; /** FIX DOUBLE UNDERLINE**/
	text-align: center;
}

.form-title{
	text-align: center;
	border-bottom: 0.3em solid;
	padding-bottom: 45px;
	margin-bottom: 4px;
}

.form-title h2 {
	padding-top: 15px;
}

.form-title span {
	font-weight: 300;
	margin-bottom: 30px;
	color: #A4A9AE;
}


/** FORM STYLES **/

form {
	border-top: 0.15em solid;
}

fieldset {
	margin-top: 35px;
	border-style: none;
	padding: 0 0 35px;
	border-bottom: 3px solid;
}

legend {
	text-transform: capitalize;
	font-size: 1.5em;
	font-weight: bold;
}

label {
	display: block;
	margin: 20px 0px 15px;
	color: #55687a;
	font-weight: 300;
}

input,
select {
	width: 100%;
	height: 3em;
	border-radius: 4px;
	border: none;
	background-color: #EFF0F1;
	padding-left: 20px; 
}

label[for="name"]{
	margin-top: 35px;
}

textarea:focus,
select:focus {
	outline: none;
	border: 2px solid #46698B;
}

input {
    transition: background 0.5s linear;
}

input:focus {
	outline: none;
	border: 2px solid #46698B;
	background-color: #b9ffa4;
}


::-webkit-input-placeholder { /*DAVE - can we discuss this? what is webkit stuff? Also - what is 'blur' in 'exceeds expectations'? AND talk about 'select' issue on safari' */ 
text-align: right;
padding-right: 15px;
font-weight: 300;
font-style: italic; 

}

#zip {
	width: 50%;
}

/**SELECT DROPDOWN **/

.styled-select select {
   background: transparent;
   width: 100%;
   padding-left: 20px;
   border: none;
   border-radius: 4px;
   height: 3em;
   -webkit-appearance: none;
   -moz-appearance:none; /* Firefox */
   appearance:none;
   }

.styled-select {
   overflow: hidden;
   background: url(../images/arrow.png) no-repeat right #EFF0F1;
   border-radius: 4px;
   }

select#state { 
	color: #A4A9AE;
	font-weight: 300;
}

/** CHECKBOXES **/

label[for="html_news"],  
label[for="css_news"],
label[for="js_news"],
label[for="format_html"],
label[for="format_txt"] {
	margin: -5px 0;

}

input[type="checkbox"],
input[type="radio"] { 
	margin-left: 0;
	margin-right: 0;
	display: inline;
	width: 30px;
	height: 15px;
	margin-bottom: 15px;
	border: none;
	color: #EFF0F1;
	outline: none;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label span{
	display: inline-block;
	background: url(../images/checkbox.png) left top no-repeat;
	vertical-align: middle;
	cursor: pointer;
	height: 25px;
	padding-left: 30px;
}

input[type="checkbox"]:checked + label span {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	background:url(../images/checkbox_checked.png) left top no-repeat;
	padding-left: 30px;
}

/** RADIO BUTTONS **/

input[type="radio"] {
	display: none;
}

input[type="radio"] + label span{
	display: inline-block;
	background: url(../images/radio.png) left top no-repeat;
	vertical-align: middle;
	cursor: pointer;
	height: 25px;
	padding-left: 30px;
}

input[type="radio"]:checked + label span {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	background:url(../images/radio_checked.png) left top no-repeat;
	padding-left: 30px;
}

/**TEXT AREA **/

.newsletter-span {
	margin: 25px 0;
	display: block;
	line-height: 1.8em;
	color: #55687a;
	font-weight: 300;
}

.newsformat-label {
	margin: 35px 0 25px;
}

label[for="other_topics"] {
	margin-top: 35px;
}

textarea {
	height: 125px;
	width: 100%;
	border: none;
	background-color: #EFF0F1;
	border-radius: 5px;
	padding: 10px 15px;
}

/** SUBMIT BUTTON **/

button[type="submit"] {
	background-color: #4EBBB5;
	border: none;
	width: 100%;
	height: 70px;
	border-radius: 5px;
	color: white;
	font-weight: 400;
	font-size: 1.3em;
	display: block;
}

fieldset#newsletter {
	border: none;
	padding-bottom: 25px;
}

/**FOOTER**/

.copyright {
	margin: 35px auto;
	display: block;
	text-align: center;
	font-style: italic;
	color: #A4A9AE;
	font-weight: 300;
}

/** MEDIA QUERIES **/

@media (min-width: 1024px) {
	
	/* HEADER */

	.main-wrapper {
		width: 60%;
		max-width: 800px;
	}

	.form-title {
		margin-top: 50px;
	}

	/* FORM STYLES */

	legend {
		margin-bottom: 25px;
	}

	fieldset#contact-info label {
		display: inline-block;
		width: 24%;
	}

	fieldset#contact-info input, 
	select {
		width: 75%;
		margin-bottom: 15px;
	}

	.styled-select {
		display: inline-block;
		width:75%;
		margin-top: 5px;

	}

	select#state {
		margin-bottom: 0;
	}

	label.state-label {
		vertical-align: top;
	}

	fieldset#contact-info #zip {
		margin-top: 15px;
		width: 30%;
	}

	fieldset#newsletter {
		margin-top: 50px;
	}

	fieldset#newsletter legend {
		margin: 0;
	}

	button[type="submit"] {
	height: 60px;
	
	}

}





